.content-tabs .roll-left {
	left: 0;
	border-right: solid 1px #eee
}

.content-tabs .roll-right {
	right: 0;
	border-left: solid 1px #eee
}

.content-tabs button {
	background: #fafafa;
	border: 0;
	height: 40px;
	width: 40px;
	outline: 0


}

.content-tabs button:hover {
	background: #fafafa
}


nav.page-tabs .page-tabs-content {
	float: left
;
	position: relative;
}

.page-tabs a {
	display: block;
	float: left;
	border-right: solid 1px #eee;
	padding: 0 15px
}

.page-tabs a i:hover {
	color: #c00
}
.page-tabs a i{
	padding-left:10px;
}

.content-tabs .roll-nav:hover, .page-tabs a:hover {
	color: #777;
	background: #f2f2f2;
	cursor: pointer
}

.roll-right.J_tabRight {/* right: 80px
 */
}

.roll-right.btn-group {
	right: 60px;
	width: 80px;
	padding: 0
}

.roll-right.btn-group button {
	width: 80px;
}

.roll-right.J_tabExit {
	background: #fff;
	height: 40px;
	width: 60px;
	outline: 0
}

.dropdown-menu-right {
	left: auto
}


.content-tabs{position:relative;height:42px;background:#fafafa;line-height:40px;overflow: hidden;}


nav.page-tabs{margin-left:40px;width: 10000px;height:40px;/* overflow:hidden */}

.content-tabs .roll-nav,.page-tabs-list{position:absolute;width:40px;height:40px;text-align:center;color:#999;z-index:2;top:0}

.roll-right.btn-group{right:0px;width: 82px;padding:0}

.page-tabs-content a:hover{text-decoration:none;background-color: #f2f2f2;}
.page-tabs-content a{color: #777;}

.main-content{overflow: hidden;}

.page-tabs-content .selectedTab{background-color: #f2f2f2;}



.search_tj_bar{padding: 20px 20px;}

.bs_btn{float: right;padding: 10px 0px;z-index: 99999;position: relative;}

.padding_top_buttom_10{padding:10px 0px}

.form-control{margin-top: -5px;}

.form-group{padding:0 10px;}



.error{color:#f59942;}